.header {
    padding: 10px 30px;
}

.header__left {
    width: 100%;
}

.img__logo {
    width: 10vw;
    margin-top: 2px;

}

.header__right {
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2vw;
}

a {
    text-decoration: none;
    color: gray;
}

.firstview {
    position: relative;
}

.img__firstview {
    display: flex;
    text-align: right;
    max-width: 1000px;
    width: 60%;
    margin: 20px 0 0 auto;
    z-index: 2;
}

.firstview-headline {
    justify-content: left;
    font-size: 4.8vw;
    font-weight: bold;
    color: mediumvioletred;
    margin-top: -35%;
    margin-left: 20%;
    z-index: 1;
    font-family: 'Indie Flower', cursive;
    line-height: 1.5;
    font-weight: 900;
}

span {
    color: lightseagreen;
}

.firstview__comment-top {
    font-size: 1.8vw;
    color: rgb(199, 21, 133);
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20%;
}

.firstview__comment-bottom {
    color: gray;
    margin-top: 10px;
    margin-left: 20%;
    font-weight: 250;
}

.firstview__info {
    text-align: center;
    max-width: 1500px;
    width: 100%;

}

.firstview-news {
    font-family: 'Indie Flower', cursive;
    color: rgb(199, 21, 133);
    margin-top: 20vw;
    margin-left: -52%;
}

.firstview__info-top {
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.6vw;
    margin-bottom: 30px;
    max-width: 50%;
}

.news__list {
    display: inline-block;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding-bottom: 1.6vw;
    max-width: 50%;
    margin-left: -5vw;
    
}

.link {
    font-size: 1vw;
    margin-top: 1.6vw;
    border-bottom: solid 0.5px gray;
    padding-bottom: 1vw;
    max-width: 50vw;
    width: 60vw;
    text-align: left;
}

.date {
    color: gray;
    margin-right: 1vw;
}

.btn {
    width: 6vw;
    padding: 6px 10px;
    background: rgb(199, 21, 133);
    color: #fff;
    border-radius: 2vw;
    text-align: center;
    margin-right: 1.6vw;
    display: inline-block;
}

.list {
    color: gray;
}

.content {
    margin-top: 70px;
    background-color: gainsboro;
    height: 35vw;

}

.content__about {
    font-family: 'Indie Flower', cursive;
    color: rgb(199, 21, 133);
    text-align: center;
    margin-bottom: 1.6vw;
    padding-top: 2vw;
}

.content__top {
    color:slategray;
    font-size: 1.6vw;
    text-align: center;
    margin-top: 20px;
}

.content__comment {
    color: gray;
    margin-top: 50px;
    margin-left: 15vw;
    line-height: 1.5;
    font-size: 1.2vw;
}

.content__comment-bottom {
    color: gray;
        margin-top: 30px;
        margin-left: 15vw;
        line-height: 1.5;
        font-size: 1.2vw;
}

.content__img {
    width: 28vw;
    float: right;
    margin-right: 20vw;
    margin-top: -15vw;
}

.service {
    margin-top: 50px;
    margin-left: 15vw;

}

.service-menu {
    font-family: 'Indie Flower', cursive;
    color: rgb(199, 21, 133);
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.service-top {
    color: gray;
    margin-bottom: 20px;
}

.grid__parent {
    width: 100%;
    height: 40vw;
    margin: 5vw auto;
}


.box1 {
    width: 35vw;
    height: 30vw;
    background-color: mediumvioletred;
}

.box1-img {
    width: 10vw;
    margin: 3vw 12vw auto;
}

.box1-menu {
    color: #fff;
    text-align: center;
    margin: 20px auto;
}

.box1-text {
    color: #fff;
    margin: 20px auto;
    width: 29vw;
    font-size: 1.2vw;
    line-height: 1.5;
}

.box2 {
    width: 40vw;
    height: 15vw;
    background-color: rgb(186, 82, 180);
    margin-left:35vw;
    margin-top: -30vw;
}

.box2-img {
    width: 10vw;
    margin: 15px;
}

.box2-menu {
    color: #fff;
    margin-left: 13vw;
    margin-top: -10vw;
}

.box2-text {
    color: #fff;
    width: 22vw;
    font-size: 1.2vw;
    margin: 1vw 13vw;
    line-height: 1.5;
}

.box3 {
    width: 40vw;
    height: 15vw;
    background-color: plum;
    margin-left: 35vw;
}

.box3-img {
    width: 10vw;
    margin: 15px;
}

.box3-menu {
    color: #fff;
    margin-left: 13vw;
    margin-top: -10vw;
}

.box3-text {
    color: #fff;
    width: 22vw;
    font-size: 1.2vw;
    margin: 1vw 13vw;
    line-height: 1.5;
}

.blog {
    height: 40vw;
    background-color: gainsboro;

}

.blog-menu {
    font-family: 'Indie Flower', cursive;
    color: rgb(199, 21, 133);
    margin-bottom: 1.5vw;
    margin-top: 3vw;
    margin-left: 15vw;
    padding-top: 3vw;
}

.blog-top {
    color: gray;
    margin-bottom: 15px;
    margin-left: 15vw;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 15vw;
}

.practice__card {
    border-radius: 10px;
    background-color: #fff;
    height: 23vw;
    width: 20vw;
}

.card__img {
    width: 20vw;
    z-index: 2;
    border-radius: 1vw 1vw 0 0;
    display: inline-block;
    margin-top: -24px;
}

.card__ttl {
    color: gray;
    line-height: 1.5;
    margin-top: 15px;
    margin-left: 1.5vw;
    font-weight: bold;
    font-size: 1vw;
}

.tag {
    font-size: 0.8vw;
    color: gray;
    margin-top: 3vw;
    margin-left: 8px;
    text-align: center;
}
.card__tag {
    display: inline-block;
    margin-left: 30px;
}

.card__date {
    display: inline-block;
    margin-right: 1vw;
}

.img__over {
    color: #fff;
    background-color: mediumvioletred;
    z-index: 1;
    display: block;
    width: 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    
}

.practice__btn {
    display: inline-block;
    position: relative;
    width: 100px;
    border-radius: 3vw;
    padding: 1vw 3vw;
    color: mediumvioletred;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    margin-left: 42vw;
    margin-top: 3vw;
    font-size: 1.1vw;

}

.info {
    margin-top: 80px;
    margin-left: 40px;

}

.info-menu {
    font-family: 'Indie Flower', cursive;
    color: rgb(199, 21, 133);
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
}

.info-top {
    color: gray;
    margin-bottom: 30px;
    margin-left: 30px;
}

.company {
    border-collapse: collapse;
    width: 80%;
    margin-left: 40px;

}

tr {
    border-style: solid;
    color: gray;
    width: 800px;
}

th,td {
    padding: 20px ;
    border: 1px solid gray;
}

th {
    background-color: gainsboro;
    text-align: left;
}

.staff {
    max-width: 1000px;
    display: flex;
    margin-top: 50px;

}

.recrueit {
    position: relative;
    max-width: 1500px;
}

.recrueit__info {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 40%;
    left: 40%;
    font-size: 2vw;


}

.img__recrueit {
    width: 50vw;
    z-index: 2;

}

.interview {
    position: relative;

}

.img__interview {
    width: 50vw;
}

.interview__info {
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
    z-index: 1;
    font-size: 2vw;
}

.inquiry {
    color: gray;
    margin-top: 4vw;
    margin-left: 33vw;
    position: relative;
    font-size: 1.5vw;
}

.inquiry__btn {
    position: relative;
    width: 20vw;
    padding: 2vw 1vw;
    color: #fff;
    border-radius: 3vw;
    background: linear-gradient(90deg, #f0a, #c1a);
    text-align: center;
    margin-top: 5vw;
    margin-left: 38vw;
    display: block;
}

.inquiry__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2vw;
    background: url(img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    transform: translate(0,-50%);
    color: #fff;
}

.copyright-box {
    display: inline-block;
    width: 100%;
    height: 5vw;
    background-color: gainsboro;
    margin-top: 5vw;
}

.copyright {
    margin-top: 2vw;
    margin-left: 37vw;
    font-size: 1.2vw;
    color: gray;
}